form{
    background-color: #eee;
    width: 60%;
    margin: auto;
    text-align: left;
    padding:20px;
}
input , textarea , legend {
    width: 70%;
    padding: 5px;
}
button{
    padding: 5px;
}